* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 2px dotted black; */
}
body {
    background-color: #EEE5E3;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #424952;
    color: #EEE5E3;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    display: inline-block;
    margin-left: 25px;
}

.style-1 h2{
    display: inline-block;
    font-size: 40px;
    color: #857B7B;
    display: flex;
    flex-wrap: wrap;
}

.header a {
    color: black;
    text-decoration: none;
    color: #EEE5E3;
}

p {
    display: inline-block;
    font-size: 25px;
    margin-left: 370px;
    /* display: flex;
    flex-wrap: wrap; */
    position: relative;
    top: -40px;
}

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/ilya-pavlov-OqtafYT5kTw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%
}

.projects {
    list-style-type: none;
    margin:0;
    padding:60px;
    /* border:3px dotted pink; */
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 300px;
    position: relative;
    top: -110px;
    
}
.card {
    flex: 1 0 40%;
    width: 100%;
    min-width: 400px;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    /* border:1px solid yellowgreen; */
    margin:0.5em;
    padding:0.5em;
  }
  .font-1 {
    color: white;
    position: relative;
    bottom: -350px;
    font-size: 30px;
  }
  .font {
    color: white;
    position: relative;
    bottom: -200px;
    font-size: 30px;
  }
  #project-1{
    background-image: url("../images/pleasure pier.jpg");
    min-height: 400px;
    text-align: bottom;
    order: 0;
    flex-basis: 80%;
    /* border: 10px; */
  }
  #project-2{
    background-image: url("../images/imperial sugar diff view.jpg");
  }
  #project-3{
    background-image: url("../images/IMG_0255.jpg");
  }
  #project-4{
    background-image: url("../images/cloud building.jpg");
  }
  #project-5{
    background-image: url("../images/close up moon abstract.png");
  }
  .info {
    grid-column: span 9;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-left: 90px;
}
.info a{
  color:navy;
}
